#Python
pycache/
*.py[cod]
*.pyo

#Virtual Environments
venv/
venv311/
env/

#Django
db.sqlite3
*.sqlite3
media/
staticfiles/

#Environment Variables
.env

#IDE
.vscode/
.idea/

#OS Files
.DS_Store
Thumbs.db

#Logs
*.log

#Migrations Cache
*.pyc

#Sensitive Data
*.csv
*.xlsx
*.xls
*.mp4
